@import "consts/color.scss";
@import "consts/size.scss";

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;

    a {
        margin-left: 4px;
    }
}